.countryTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th,
  td {
    border: 1px solid #ddd;
    padding: 0.6rem 0.8rem;
    text-align: center;
  }
  td {
    text-align: left;
  }

  th {
    background-color: #9d9d9d;
    font-weight: 600;
    color: #444;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  tr:nth-child(even) {
    background-color: #eaeaea;
  }
  tr:nth-child(odd) {
    background-color: #444;
  }

  td {
    color: #171717;
  }
}
