.countryTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th,
  td {
    border: 1px solid #ddd;
    padding: 0.6rem 0.8rem;
    text-align: center;
  }

  td {
    text-align: left;
  }

  th {
    background-color: #9d9d9d;
    font-weight: 600;
    color: #444;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  tr:nth-child(even) {
    background-color: #eaeaea;
  }

  tr:nth-child(odd) {
    background-color: #444;
  }
}
.settingsBtn {
  display: inline-block;
  margin-bottom: 12px;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  background: #007bff;
  color: #000000;
  border: none;
  cursor: pointer;

  &:hover {
    background: #0066d1;
  }
}
